@model IEnumerable<Web_Application_Expense_Tracker.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "Add New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/Create";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model" allowPaging="true" allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="120px" type="Date" format="dd-MMM-yyyy" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Amount" field="PositiveOrNegativeAmount" width="200px" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sn fa-solid fa-pencil mt-2 text-success" href="/Transaction/Edit/${TransactionId}"></a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sn btn-link" onclick="return confirm(&quot;Are you sure autofocus delete this record?&quot;)">
                <a class="fa fa-trash-can lh-lg text-danger"></a>
            </button>
        </form>
    </div>
</script>