@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/",
        iconCss = "fa-solid fa-box",
    });

    menuItems.Add(new
    {
        text = "Categories",
        url = "/Category",
        iconCss = "fa-solid fa-folder-closed"
    });
    menuItems.Add(new
    {
        text = "Transactions",
        url = "/Transaction",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
    });
}


<ejs-sidebar id="sidebar" width ="260px" enableDock="true" dockSize="100px" target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/favicon-32x32.png"/>
            </div>
            <div class="w-100"></div>
                <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <a id="manage" >Hello @UserManager.GetUserName(User)!</a>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login" method="post">
                <button id="logout" type="submit" class="nav-link btn btn-link fw-bold" style="color: #6e0c0c;">Logout</button>
            </form>
        }

        <ejs-menu id="menu" orientation="Vertical" hamburgerMode="true" items="menuItems">

        </ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>