@model IEnumerable<Web_Application_Expense_Tracker.Models.Category>

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionText"] = "Add New Category";
    ViewData["PageActionUrl"] = "/Category/Create";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" allowPaging="true" allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Expense")}
        <span class="badge bg-danger">${Type}</span>
    ${else}
        <span class="badge bg-success">${Type}</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sn fa-solid fa-pencil mt-2 text-success" href="/Category/Edit/${CategoryId}"></a>
        <form action="/Category/Delete/${CategoryId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sn btn-link" onclick="return confirm(&quot;Are you sure autofocus delete this record?&quot;)">
                <a class="fa fa-trash-can lh-lg text-danger"></a>
            </button>
        </form>
    </div>
</script>
